body {
}


.container {
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.site-title {
    
    & > a {
        display: block;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
}

.section-title {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
}


.header {
    height: 80px;

    & .container {
        height: 100%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}


.footer {
    margin-bottom: 90px;
}

.sns {
    &__main {
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style: none;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        & > a {
            color: rgba(0, 0, 0, 0.7);
            text-decoration-color: rgba(0, 0, 0, 0.7);
        }
    }
}