.menu-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    & > span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
        transition: all 0.3s;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;

    &__main {
        padding: 50px 40px; 
        transform: translateX(-100vw);
        transition: transform 0.3s;
    }

    &__item {
        margin-bottom: 20px;
        list-style: none;
        
        & > a {
            display: block;
            text-decoration: none;
            color: white;
        }
    }
}

.header.open {
    & .menu-btn {
        position: relative;
        z-index: 10001;
        
        & > span {
            background-color: white;

            &:first-child {
                transform: translateY(7px) rotate(225deg);
            }

            &:nth-child(2) {
                transform: translateX(-30px);
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-7px) rotate(-225deg);
            }
        }
    }

    & .nav {
        visibility: visible;

        &__main {
            transform: none;
        }
    }
}