// カスタム投稿(商品管理)アーカイブページのページネーション
.post-type-archive-item {
    .pagination {
        text-align: center;
        margin-bottom: 30px;
        text-decoration: none;

        & .nav-links {
            & > .page-numbers {
                display: inline-block;
                width: 20px;
                height: 20px;
                text-decoration: none;
                color: black;
                line-height: 20px;
                margin-right: 10px;
                text-decoration: underline;

                &:last-child {
                    margin-right: 0;
                }

                &.page-numbers.current {
                    background-color: rgba(165, 42, 42, 0.6);
                    border-radius: 50%;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

// カスタム投稿(商品管理個別ページ)のページネーション
.single-item {
    & .pagination {
        text-align: center;
        margin-bottom: 50px;

        & > a {
            display: inline-block;
            margin-right: 20px;
            color: black;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}